#ignoring folders
**/tmp/**

#ignoring types of extentions
*.wdf
*.lpr
*.wpc
*.map
*.out
*.gnd
*.0
*.dcp
*.xml
*.txt
*.rst
*.js
*.sh
*.log
*.bat
*.tcl
*.vds
*.pb
*.lpr
*.jou
*.rtd
*.rpt
*__synthesis_is_running__*
*__synthesis_is_complete__*
*.html
*.vdi
*.rpx
*.info
*.xdc
*.wdb
*glbl*
*.prj
*.obj
*.c
*.wdm
*.dbg
*.mem
*.reloc
*.rlx
*.rtti
*.svtype
*.type
*.xdbg
*.exe
*.ini
*.sdb
*.rlx
*.wcfg
*.str
*.vdb

#exceptions
!**/constrs_1/**/*.xdc
!**/constrs_1/*.xdc

#extra ignores
Course


