#ignoring project files
*/'*.cache'/
*/'*.hw'/
*/'*.runs'/
*/'*.hbs'/
*/'*.ip_user_files'/
*/'*.sim'/
*/'*.xpr'

#ignoring types of extentions
*.wdf
*.lpr
*.xpr
*.wpc
*.xdc
*.map
*.out
*.gnd
*.0
*.dcp
*.xml
*.txt
*.rst
*.js
*.sh
*.log
*.bat
*.tcl
*.vds
*.pb
*.lpr
*.jou
*.rtd
*.rpt
*__synthesis_is_running__*
*__synthesis_is_complete__*
*.html
*.bit
*.vdi
*.rpx
*.info

#extra ignores
Lab 1/Subtask_1/Subtask 1.cache/
Lab 1/Subtask_1/Subtask 1.hw/
Lab 1/Subtask_1/Subtask 1.ip_user_files/
Lab 1/Subtask_3/Subtask_3.runs/synth_1/__synthesis_is_running__
Lab 1/Subtask_3/Subtask_3.runs/synth_1/__synthesis_is_complete__

*.info
